<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.fanchaoo.web.dao.mapper.FeedbackMapper">
  
  
  
  <delete id="deleteByPrimaryKey">
    delete from feedback
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into feedback (type, content, contact_info, 
      user_id, artist_id, create_time, 
      update_time)
    values (#{type}, #{content}, #{contactInfo}, 
      #{userId}, #{artistId}, #{createTime}, 
      #{updateTime})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into feedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="contactInfo != null">
        contact_info,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="artistId != null">
        artist_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type},
      </if>
      <if test="content != null">
        #{content},
      </if>
      <if test="contactInfo != null">
        #{contactInfo},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="artistId != null">
        #{artistId},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update feedback
    <set>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="content != null">
        content = #{content},
      </if>
      <if test="contactInfo != null">
        contact_info = #{contactInfo},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="artistId != null">
        artist_id = #{artistId},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey">
    update feedback
    set type = #{type},
      content = #{content},
      contact_info = #{contactInfo},
      user_id = #{userId},
      artist_id = #{artistId},
      create_time = #{createTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>
</mapper>