<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD QueryMapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.fanchaoo.web.dao.mapper.RegionProvinceQueryMapper">
  <resultMap id="BaseResultMap" type="me.fanchaoo.dbo.RegionProvinceDBO">
    <id column="id" property="id" />
    <result column="name" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from region_province
    where id = #{id}
  </select>
  
  
  
</mapper>