<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.fanchaoo.web.dao.mapper.TagRelationMapper">


  <delete id="deleteByPrimaryKey">
    delete from tag_relation
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into tag_relation (tag_id, entity_type, entity_id, 
      artist_id, create_time, update_time
      )
    values (#{tagId}, #{entityType}, #{entityId}, 
      #{artistId}, #{createTime}, #{updateTime}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into tag_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="entityType != null">
        entity_type,
      </if>
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="artistId != null">
        artist_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        #{tagId},
      </if>
      <if test="entityType != null">
        #{entityType},
      </if>
      <if test="entityId != null">
        #{entityId},
      </if>
      <if test="artistId != null">
        #{artistId},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update tag_relation
    <set>
      <if test="tagId != null">
        tag_id = #{tagId},
      </if>
      <if test="entityType != null">
        entity_type = #{entityType},
      </if>
      <if test="entityId != null">
        entity_id = #{entityId},
      </if>
      <if test="artistId != null">
        artist_id = #{artistId},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey">
    update tag_relation
    set tag_id = #{tagId},
      entity_type = #{entityType},
      entity_id = #{entityId},
      artist_id = #{artistId},
      create_time = #{createTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>

  <insert id="insertBatch" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into tag_relation (tag_id, entity_type, entity_id, artist_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{tagId}, #{entityType}, #{entityId},#{artistId})
    </foreach>
  </insert>
</mapper>