<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD QueryMapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.fanchaoo.web.dao.mapper.VenueQueryMapper">
  <resultMap id="BaseResultMap" type="me.fanchaoo.dbo.VenueDBO">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="address" property="address" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, address, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from venue
    where id = #{id}
  </select>
  
  
  
</mapper>